{
  "extends": ["airbnb", "prettier", "prettier/react"],
  "env": {
    "browser": true
  },
  "plugins": ["prettier"],
  "parser": "babel-eslint",
  "rules": {
    "react/jsx-filename-extension": 0,
    "react/prefer-stateless-function": 0
  }
}
